In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../dataset/jobfair_train.csv')
data_test = pd.read_csv('../dataset/jobfair_test.csv')
data.head()

,season,club_id,league_id,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,...,registration_country,registration_platform_specific,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash,league_rank
0,173,6042825,2912348,2) Minnow,134,25,5.255151,4.483009,1.778801,25,...,Portugal,Flash FB Canvas,24,435,11.0,598,245,186,818,2
1,173,9620967,2912140,2) Minnow,28,23,4.962521,4.785648,-0.002687,28,...,Turkey,Android Phone,19,58,7.0,269,0,35,24,2
2,173,6045474,2912933,4) Whale,136,23,11.105782,10.511133,0.628794,28,...,Belgium,Flash FB Canvas,26,116,8.0,23180,369,444,4933,1
3,173,14187773,2910371,0) NonPayer,2,21,4.164848,4.023486,0.551904,12,...,Malaysia,Android Phone,11,22,2.0,41,43,213,126,6
4,173,13694853,2907632,0) NonPayer,5,22,3.031939,2.926029,0.690544,0,...,Italy,iOS Phone,9,0,4.0,0,16,100,147,10

I don't need season, club_id, league_id column since this is something identifying in each row so it won't have an effect on the result.

In [4]:
data_test.drop(['season','league_id'],axis=1,inplace=True) # club_id must be saved due to submition rules

data.drop(['season','club_id','league_id'],axis=1,inplace=True)
data.head()

,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,league_match_watched_count_last_28_days,session_count_last_28_days,playtime_last_28_days,registration_country,registration_platform_specific,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash,league_rank
0,2) Minnow,134,25,5.255151,4.483009,1.778801,25,10,271,81281642,Portugal,Flash FB Canvas,24,435,11.0,598,245,186,818,2
1,2) Minnow,28,23,4.962521,4.785648,-0.002687,28,9,119,58448442,Turkey,Android Phone,19,58,7.0,269,0,35,24,2
2,4) Whale,136,23,11.105782,10.511133,0.628794,28,22,210,134640047,Belgium,Flash FB Canvas,26,116,8.0,23180,369,444,4933,1
3,0) NonPayer,2,21,4.164848,4.023486,0.551904,12,0,18,12143308,Malaysia,Android Phone,11,22,2.0,41,43,213,126,6
4,0) NonPayer,5,22,3.031939,2.926029,0.690544,0,0,0,0,Italy,iOS Phone,9,0,4.0,0,16,100,147,10

Descriptions aren't as representative as numbers. Zero meaning the player never spent any money and four meaning that the player spends a lot of money on the game.

In [5]:
data_test['dynamic_payment_segment'] = data_test['dynamic_payment_segment'].str.extract(r"(\d+)", expand=False).astype(int)

data['dynamic_payment_segment'] = data['dynamic_payment_segment'].str.extract(r"(\d+)", expand=False).astype(int)
print(data['dynamic_payment_segment'].unique())
data.head()

[2 4 0 1 3]

,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,league_match_watched_count_last_28_days,session_count_last_28_days,playtime_last_28_days,registration_country,registration_platform_specific,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash,league_rank
0,2,134,25,5.255151,4.483009,1.778801,25,10,271,81281642,Portugal,Flash FB Canvas,24,435,11.0,598,245,186,818,2
1,2,28,23,4.962521,4.785648,-0.002687,28,9,119,58448442,Turkey,Android Phone,19,58,7.0,269,0,35,24,2
2,4,136,23,11.105782,10.511133,0.628794,28,22,210,134640047,Belgium,Flash FB Canvas,26,116,8.0,23180,369,444,4933,1
3,0,2,21,4.164848,4.023486,0.551904,12,0,18,12143308,Malaysia,Android Phone,11,22,2.0,41,43,213,126,6
4,0,5,22,3.031939,2.926029,0.690544,0,0,0,0,Italy,iOS Phone,9,0,4.0,0,16,100,147,10

Since there are a lot of countries, one-hot encoding would result in too many dimensions.

In [6]:
data['registration_country'].unique().size

186

Registration country ant the platform don't play a significant role in the league rank so they can be eliminated as well.

In [7]:
data_test.drop(['registration_country','registration_platform_specific'],axis=1,inplace=True)
data.drop(['registration_country','registration_platform_specific'],axis=1,inplace=True)

Missing values can only be in column global_competition_level. Since these values represent the progress in global competition, we can safely fill the missing values with zeroes.

In [8]:
print(data.isna().sum())
data['global_competition_level'].unique()

dynamic_payment_segment                        0
cohort_season                                  0
avg_age_top_11_players                         0
avg_stars_top_11_players                       0
avg_stars_top_14_players                       0
avg_training_factor_top_11_players             0
days_active_last_28_days                       0
league_match_watched_count_last_28_days        0
session_count_last_28_days                     0
playtime_last_28_days                          0
league_match_won_count_last_28_days            0
training_count_last_28_days                    0
global_competition_level                   17551
tokens_spent_last_28_days                      0
tokens_stash                                   0
rests_stash                                    0
morale_boosters_stash                          0
league_rank                                    0
dtype: int64

array([11.,  7.,  8.,  2.,  4.,  3.,  6., nan,  1., 10.,  5.,  9.])

In [9]:
data_test['global_competition_level'] = data_test['global_competition_level'].fillna(0)

data['global_competition_level'] = data['global_competition_level'].fillna(0)

In [10]:
data.describe()

,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,league_match_watched_count_last_28_days,session_count_last_28_days,playtime_last_28_days,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash,league_rank
count,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,5.531400e+04,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000,55314.000000
mean,0.449452,23.409372,23.718661,4.533516,4.344776,0.584372,12.357089,3.623170,63.432169,2.955178e+07,12.411813,61.107694,2.663232,121.393897,113.133077,283.083523,307.085964,7.500000
std,0.886252,42.009274,2.206240,1.204753,1.177068,0.178090,11.849102,5.906055,101.831670,5.233892e+07,6.403013,188.288285,2.828928,842.775529,3183.550398,789.250959,823.362486,4.031165
min,0.000000,1.000000,18.000000,1.451697,1.354905,-1.287736,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-4975.000000,-169.000000,0.000000,1.000000
25%,0.000000,2.000000,22.000000,3.691136,3.500062,0.479571,1.000000,0.000000,1.000000,7.364150e+04,8.000000,0.000000,0.000000,0.000000,11.000000,41.000000,52.000000,4.000000
50%,0.000000,4.000000,23.000000,4.481376,4.311590,0.561158,7.000000,0.000000,16.000000,6.230431e+06,12.000000,11.000000,1.000000,38.000000,29.000000,88.000000,118.000000,7.500000
75%,0.000000,17.000000,25.000000,5.217394,5.021726,0.648180,27.000000,5.000000,89.000000,3.768711e+07,17.000000,63.000000,5.000000,107.000000,73.000000,243.000000,281.000000,11.000000
max,4.000000,172.000000,33.000000,23.716073,20.434876,5.164494,28.000000,26.000000,1365.000000,1.340479e+09,26.000000,7443.000000,11.000000,120233.000000,744202.000000,32767.000000,32767.000000,14.000000

### Train and Test split

In [11]:
X = data.drop(['league_rank'],axis=1)
y = data[['league_rank']]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

((44251, 17), (11063, 17), (44251, 1), (11063, 1))

In [14]:
club_ids = data_test[['club_id']]
data_test = data_test.drop(['club_id'],axis=1)
data_test.head()

,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,league_match_watched_count_last_28_days,session_count_last_28_days,playtime_last_28_days,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash
0,0,1,23,4.295345,4.100333,0.469406,8,0,10,2580346,10,6,0.0,82,18,177,106
1,0,21,24,4.704727,4.484933,0.317702,28,5,61,15521681,16,26,7.0,153,65,1030,717
2,0,2,22,2.923867,2.819171,0.669540,0,0,0,0,7,0,0.0,0,138,156,98
3,0,1,22,3.114776,2.977457,0.639923,3,0,3,1136208,2,1,0.0,2,43,43,25
4,0,6,23,4.194497,4.114257,0.486229,26,3,80,43655679,22,46,1.0,100,30,45,53

### Standardization

In [106]:
from sklearn.preprocessing import StandardScaler

In [116]:
scaler = StandardScaler()

scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data_test_scaled = scaler.transform(data_test)

X_train = pd.DataFrame(data = X_train_scaled, columns = X_train.columns)
X_test = pd.DataFrame(data = X_test_scaled, columns = X_test.columns)
data_test = pd.DataFrame(data = data_test_scaled, columns = data_test.columns)

### Save files

In [16]:
from joblib import dump

In [17]:
dump((X_train, X_test, y_train, y_test), 'classification.joblib')

['classification.joblib']

In [18]:
dump((club_ids, data_test), 'to_predict.joblib')

['to_predict.joblib']